body {
    height: 100vh;
    font-family: open sans;
    color: #e7e7e7;
    background-color: #535353;
    background-image: radial-gradient(#fcfcfc 10%, transparent 11%), radial-gradient(#d6d6d6 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
    display:grid;
    place-content:center;
}

* {
    box-sizing: border-box;
    overflow:hidden;
}
html {
height:100vh;
}

.ol {
color:rgb(0, 0, 0);
font-size:20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
place-content:center;

}

h1 {
font-family:monospace;
}

h1:hover {
color:rgb(255, 255, 255);
text-shadow: 2px 2px #636363;
transition: 1.5s;
}

.button1 {
font-size: 10px;
display:inline-block;
padding:1em -1em ;
margin:0 0.3em 0.3em 0;
border-radius: 3em;
border-color:#ffffff00

}
.button1:hover{
background-color:#000000;
color:#e7e7e7;

}


.div4 {
    width: 140px;
    aspect-ratio: 1;
    background: url("../assets/cloud.png");
    position: absolute;
    animation: mymove2 8s infinite linear;
    left:0;
    top:calc(1vh - -150px);
    background-size:contain;
    text-align:center;
}
.div3 {
    width: 400px;
    aspect-ratio: 1;
    background: url("../assets/cloud.png");
    position: absolute;
    animation: mymove1 9s infinite linear;
    left:0;
    top:calc(30vh - -100px);
    background-size:contain;
}
.div2 {
    width: 300px;
    aspect-ratio: 1;
    background: url("../assets/cloud.png");
    position: absolute;
    animation: mymove1 7s infinite linear;
    left:0;
    top:calc(10vh - 50px);
    background-size:contain;
   
    
  }

.hide {
    display:none;
    position:fixed;
    font-family: cursive;
    font-size: 50px;
}

.div1 {
    width: 200px;
    aspect-ratio: 1;
    background: url("../assets/cloud.png");
    position: absolute;
    animation: mymove2 7.5s infinite linear;
    left:0;
    top:calc(20vh - 150px);
    background-size:contain;
    text-align:center;
    
  }
 

  .div1:hover + .hide {
    display:block;
    filter:invert();
  }

    @keyframes mymove1 {
    0% {
        translate:-100% 0;
    }
    100% {
        translate:100vw 0;
    }
  }
   
  @keyframes mymove2 {
    0% {
        translate:-220% 0;
    }
    100% {
        translate:100vw 0;
    }
  }
 
  