body {
    height: 100vh;
    font-family: open sans;
    color: #e7e7e7;
    background-color: #367e94;
    background-image: radial-gradient(#fcfcfc 10%, transparent 11%), radial-gradient(#d6d6d6 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
    display:grid;
    place-content:center;
}

* {
    box-sizing: border-box;
    overflow:hidden;
}
html {
height:100vh;
}

.ol {
color:rgb(0, 0, 0);
font-size:20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
place-content:center;

}

h1 {
font-family:monospace;

}


.button1 {
    background-image:url("assets/cloud.png");
    background-size:140px 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #aeefff00;
    font-size: 15px;
    text-align: center;
    display:inline-block;
    padding:1em -1em ;
    display:inline-block;
    margin:0 0.3em 0.3em 0;
    border-radius: 3em;
    border:none;
    position:center;
}
.button1:hover{
background-color:#ffffff7a;
color:#000000;
font-style:italic;
transition:0.8s;
text-shadow:1px 2px #ffb7b7;

}


.divcloud4 {
    width: 140px;
    aspect-ratio: 1;
    background: url("assets/cloud.png");
    position: absolute;
    animation: mymove2 8s infinite linear;
    left:0;
    top:calc(1vh - -150px);
    background-size:contain;
    text-align:center;
    z-index: -1;
}

.divcloud3 {
    width: 400px;
    aspect-ratio: 1;
    background: url("assets/cloud.png");
    position: absolute;
    animation: mymove1 9s infinite linear;
    left:0;
    top:calc(3vh - -100px);
    background-size:contain;
    z-index: -1;
}

.divcloud2 {
    width: 300px;
    aspect-ratio: 1;
    background: url("assets/cloud.png");
    position: absolute;
    animation: mymove1 7s infinite linear;
    left:0;
    top:calc(10vh - 50px);
    background-size:contain;
    z-index: -1;
   
  }


.divcloud1 {
    width: 200px;
    aspect-ratio: 1;
    background: url("assets/cloud.png");
    position: absolute;
    animation: mymove2 7.5s infinite linear;
    left:0;
    top:1rem;
    background-size:contain;
    text-align:center;
    color:black;
    align-items: center;
    display:grid;
    font-family:sans-serif;
    font-size:20px
    
  }

  .divcloud1:hover {
    display:block;
    filter:invert();
    color: #ffffff00;
  }

    @keyframes mymove1 {
    0% {
        translate:-100% 0;
    }
    100% {
        translate:100vw 0;
    }
  }
   
  @keyframes mymove2 {
    0% {
        translate:-220% 0;
    }
    100% {
        translate:100vw 0;
    }
  }
 
  