body {
    height: 100vh;
    font-family: open sans;
    color: #e7e7e7;
    background-color: #535353;
    background-image: radial-gradient(#ffffff 10%, transparent 11%), radial-gradient(#d6d6d6 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
    display:grid;
    place-content:center;
}

h1 {
    position:center;
    font-size:30px;
    font-family: fantasy;
    background-color: #00000025;
}

h1.goback {
    background-color: #53535300;
    font-family:monospace;
    font-size: 5xp;
}

p {
    font-family:cursive;
    font-size: 20px;
    overflow:auto;
}

div.text1 {
    border: 30px #000000;
    text-align: justify;
    background-color:#616161 ;
    height: 250px;
    width: 920px;
    border-radius: 15px;
    padding:5px;
    overflow-y:scroll;
    margin:20px 20px;
}

div.text2 {
    border: 30px #000000;
    text-align: justify;
    background-color:#616161 ;
    height: 250px;
    width: 920px;
    border-radius: 15px;
    padding:5px;
    overflow-y:scroll;
    margin:20px 20px;
}

button.goback {
    background-color:#616161;
    background-size:50px 50px;
    background-repeat: no-repeat;
    font-size: 15px;
    text-align: center;
    position:center;
    display:inline-block;
    padding:1em -1em ;
    display:inline-block;
    margin:20px 20px;
    border-radius: 3em;
    border:none;
    position:center;
    size:15px;
    font-family:monospace;
}

button.goback:hover{
    background-color:#ffffff7a;
    color:#000000;
    font-style:italic;
    transition:0.8s;
    text-shadow:1px 2px #ffb7b7;

    }