/* CSS main-page */

@media screen and (min-width: 900px) {
    body {

        /* === header === */
        header {
            background-color: black;
            margin: 15px 0 0 0;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
            height: 7vw;

            /* header title styling*/
            h1 {
                text-overflow: ellipsis;
                font-size: 7vw;
                color: rgb(182, 182, 182);
                animation: mymove1 4s cubic-bezier(0, .48, 0, .91);
            }
        }

        /* === navigation bar === */
        nav {
            display: flex;
            display: row;
            justify-content: space-between;
            margin: 10px 25px 0 25px;
            padding: 1.042vw;
            border: solid 1px;
            align-items: center;

            /* nav ul list 1 */
            ul {
                display: flex;
                display: row;
                gap: 7vw;
            }

            /* li styling */
            li {
                border: solid 3px;
                padding: 0 20px 0 20px;
                max-height: 3vw;
                list-style: none;

            }

            li:hover {
                background-color: red;
            }

            /* nav div list 2 */
            .github {
                margin: 0 2vw 0 0;
                display: flex;
                align-items: center;
                display: flex;
                flex-direction: row;

                /* image styling */
                .github-img {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-image: url(../assets/github\ img.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                }
                /* link styling */
                a:hover {
                    filter: invert(21%) sepia(90%) saturate(6411%) hue-rotate(356deg) brightness(100%) contrast(117%);
                }
                /* text styling */
                p {
                    margin: 0 0 0 .5vw;
                }
            }
        }
    }
}


@keyframes mymove1 {
    0% {
        translate: +110% 0;
    }
}