/* upcoming kebab-case*/


/* moving text main/info-page */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue-header {
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    font-style: normal;
  }
  
